.RoleDice {
    display: flex;
    flex-flow: column-reverse ;
    min-height: 100vh;
}
.RoleDice-container {
    display: flex;
    justify-content: center;
    align-content: center;
}
.RoleDice button {
    align-self: center;
    width: 15em;
    padding: 1.5em;
    border: 1px;
    border-radius: 10px;
    color: white;
    background-color: black;
    margin-top: 3em;
}
.RoleDice button:hover  {
    background-color: darkslateblue;
    cursor: pointer;
  
}